@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  --blue-bg-color: #3084d7;
  --bg-main-color: #70a0c2;
  --card-bg-color: #005593;
  --blue-text-color: rgba(0, 85, 147, 0.78);
  --green-color: #2e7d32;
  --red-color: #a00000;
  --white-color: #fff;
  --gray-bg-color: #dededefa;
  --gray-text: #898989;
  --transition: all ease 0.3ms;
  --gray-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  --black-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: transparent;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--white-color);
  border: none;
  padding: 0.8rem 0.8rem;
  border-radius: 0.3rem;
  opacity: 0.9;
  transition: var(--transition);
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: var(--gray-shadow);
}

.btn:active:enabled {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  -webkit-appearance: none;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.btn-primary {
  background-color: var(--blue-bg-color);
  text-transform: uppercase;
}

.btn-safe {
  background-color: var(--green-color);
  text-transform: uppercase;
}

.btn-danger {
  background-color: var(--red-color);
  text-transform: uppercase;
}

.btn-secondary {
  background-color: var(--red-color);
  text-transform: uppercase;
}

.btn:disabled {
  background-color: var(--gray-bg-color);
  color: var(--gray-text);
  cursor: default;
}

.btn:hover:enabled {
  opacity: 1;
}
/* For tablet */
@media only screen and (min-width: 600px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.7rem 1.1rem;
    border-radius: 0.4rem;
  }
  /* body {
    overflow-y: hidden;
  } */
}

/* For desktop */
@media only screen and (min-width: 1200px) {
  /* .mainContent {
    min-height: 83vh;
    margin: 1rem;
  } */
  .btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
  }
  /* body {
    overflow-y: hidden;
  } */
}
