.mainContent {
  background-color: var(--bg-main-color);
  padding: 0.8rem;
  margin: 0 1rem;
  border-radius: 0.2rem;
  -webkit-appearance: none;
  box-shadow: var(--gray-shadow);
}

.mainContent__footer {
  width: max-width;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  box-shadow: var(--gray-shadow);
}

/* For tablet */
@media only screen and (min-width: 600px) {
  .mainContent {
    margin: 0 1rem;
  }
}

/* For desktop */
@media only screen and (min-width: 1200px) {
  .mainContent {
    margin: 1rem;
  }
  .mainContent__footer {
    width: max-content;
  }
}
